{% load static %}
<div class="home-banner-area mb-4 pt-3">
    <div class="container">
        <div class="row gutters-10 position-relative">
            <div class=" col-lg-10 ">
                <div class="aiz-carousel dots-inside-bottom mobile-img-auto-height" data-arrows="true" data-dots="true"
                     data-autoplay="true">
                    <div class="carousel-box">
                        <a href="https://codecanyon.net/item/active-ecommerce-cms/23471405?s_rank=23">
                            <img class="d-block mw-100 img-fit rounded shadow-sm overflow-hidden" style="height:460px"
                                 src="{% static "public/uploads/all/faEi771HIT7B9yPye5YqXip8EBMXa4VQBLhksq2g.png" %}"
                            alt="Active eCommerce CMS promo" height="315"
                            onerror="this.onerror=null;this.src='public/assets/img/placeholder-rect.jpg';">
                        </a>
                    </div>
                    <div class="carousel-box">
                        <a href="https://codecanyon.net/item/active-ecommerce-cms/23471405?s_rank=23">
                            <img class="d-block mw-100 img-fit rounded shadow-sm overflow-hidden"
                                 src="{% static "public/uploads/all/0Bf6AZrON13NRpLxc7S6bua38uRBUuiwCH7fN3LG.png" %}"
                            alt="Active eCommerce CMS promo" height="315"
                            onerror="this.onerror=null;this.src='public/assets/img/placeholder-rect.jpg';">
                        </a>
                    </div>
                    <div class="carousel-box">
                        <a href="https://codecanyon.net/item/active-ecommerce-cms/23471405?s_rank=23">
                            <img class="d-block mw-100 img-fit rounded shadow-sm overflow-hidden"
                                 src="{% static "public/uploads/all/HordtzBXzs1JUTTFpRyGLPYO26Z9J4IVt3jLeOsM.png" %}"
                            alt="Active eCommerce CMS promo" height="315"
                            onerror="this.onerror=null;this.src='public/assets/img/placeholder-rect.jpg';">
                        </a>
                    </div>
                    <div class="carousel-box">
                        <a href="https://codecanyon.net/item/active-ecommerce-cms/23471405?s_rank=23">
                            <img class="d-block mw-100 img-fit rounded shadow-sm overflow-hidden"
                                 src="{% static "public/uploads/all/D336pBP0YKEHoa4NWUFCh1blXcGsYlTIjvdFnaGm.png" %}"
                            alt="Active eCommerce CMS promo" height="315"
                            onerror="this.onerror=null;this.src='public/assets/img/placeholder-rect.jpg';">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 order-3 mt-3 mt-lg-0">
                <div class="bg-white rounded shadow-sm">
                    <div class="bg-soft-primary rounded-top p-3 d-flex align-items-center justify-content-center">
                                <span class="fw-600 fs-16 mr-2 text-truncate">
                                    Todays Deal
                                </span>
                        <span class="badge badge-primary badge-inline">Hot</span>
                    </div>
                    <div class="c-scrollbar-light overflow-auto h-lg-400px p-2 bg-primary rounded-bottom">
                        <div class="gutters-5 lg-no-gutters row row-cols-2 row-cols-lg-1">
                            <div class="col mb-2">
                                <a href="product/Philips-Rice-Cooker-06L-4BWjg.html"
                                   class="d-block p-2 text-reset bg-white h-100 rounded">
                                    <div class="row gutters-5 align-items-center">
                                        <div class="col-xxl">
                                            <div class="img">
                                                <img class="lazyload img-fit h-140px h-lg-80px"
                                                     src="public/assets/img/placeholder.jpg"
                                                     data-src="{% static "public/uploads/all/5DpZmEosn1JKGBEv7LnmKaY2z3oN9TIlj6zSgSCs.jpg" %}"
                                                     alt="Philips Rice Cooker 0.6L"
                                                     onerror="this.onerror=null;this.src='public/assets/img/placeholder.jpg';">
                                            </div>
                                        </div>
                                        <div class="col-xxl">
                                            <div class="fs-16">
                                                <span class="d-block text-primary fw-600">$64.750</span>
                                                <del class="d-block opacity-70">$68.000</del>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col mb-2">
                                <a href="product/adidas-mens-originals-poly-tape-shorts-en9ka.html"
                                   class="d-block p-2 text-reset bg-white h-100 rounded">
                                    <div class="row gutters-5 align-items-center">
                                        <div class="col-xxl">
                                            <div class="img">
                                                <img class="lazyload img-fit h-140px h-lg-80px"
                                                     src="{% static "public/assets/img/placeholder.jpg" %}"
                                                     data-src="{% static "public/uploads/all/u1DDNkgW9HCKqNHOYURJY6dJaqwiSwBBQj8S0jLH.png" %}"
                                                     alt="Adidas Men&#039;s Originals Poly Tape Shorts"
                                                     onerror="this.onerror=null;this.src='{% static "public/assets/img/placeholder.jpg" %}';">
                                            </div>
                                        </div>
                                        <div class="col-xxl">
                                            <div class="fs-16">
                                                <span class="d-block text-primary fw-600">$102.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col mb-2">
                                <a href="product/adidas-womens-cropped-slim-polyester-shorts-jvdi7.html"
                                   class="d-block p-2 text-reset bg-white h-100 rounded">
                                    <div class="row gutters-5 align-items-center">
                                        <div class="col-xxl">
                                            <div class="img">
                                                <img class="lazyload img-fit h-140px h-lg-80px"
                                                     src="public/assets/img/placeholder.jpg"
                                                     data-src="{% static "public/uploads/all/8LmfSZEGCktshcYjefNylyAHRdFwPqkKz7hwVG9R.png" %}"
                                                     alt="Nautica Voyage By Nautica For Men Eau De Toilette Spray"
                                                     onerror="this.onerror=null;this.src='public/assets/img/placeholder.jpg';">
                                            </div>
                                        </div>
                                        <div class="col-xxl">
                                            <div class="fs-16">
                                                <span class="d-block text-primary fw-600">$65.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col mb-2">
                                <a href="product/nike-men-mercurial-superfly-7-elite-firm-ground-football-shoe-zlwgn.html"
                                   class="d-block p-2 text-reset bg-white h-100 rounded">
                                    <div class="row gutters-5 align-items-center">
                                        <div class="col-xxl">
                                            <div class="img">
                                                <img class="lazyload img-fit h-140px h-lg-80px"
                                                     src="public/assets/img/placeholder.jpg"
                                                     data-src="{% static "public/uploads/all/LfCYkZUyEVnUSjqjznaA6MVuLETNLDkaTMnCud9F.png" %}"
                                                     alt="Under Armour Men&#039;s Charged Assert 9 Running Shoe"
                                                     onerror="this.onerror=null;this.src='public/assets/img/placeholder.jpg';">
                                            </div>
                                        </div>
                                        <div class="col-xxl">
                                            <div class="fs-16">
                                                <span class="d-block text-primary fw-600">$97.200</span>
                                                <del class="d-block opacity-70">$120.000</del>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col mb-2">
                                <a href="product/FIFA-22-Standard---PC-Online-Game-Code-22545.html"
                                   class="d-block p-2 text-reset bg-white h-100 rounded">
                                    <div class="row gutters-5 align-items-center">
                                        <div class="col-xxl">
                                            <div class="img">
                                                <img class="lazyload img-fit h-140px h-lg-80px"
                                                     src="public/assets/img/placeholder.jpg"
                                                     data-src="public/uploads/all/4gmGnYIZhgatZRJsxrhXVW2qO0aoLLdZT8U6qOQE.png"
                                                     alt="FIFA 22 Standard - PC [Online Game Code]"
                                                     onerror="this.onerror=null;this.src='public/assets/img/placeholder.jpg';">
                                            </div>
                                        </div>
                                        <div class="col-xxl">
                                            <div class="fs-16">
                                                <span class="d-block text-primary fw-600">$56.050</span>
                                                <del class="d-block opacity-70">$59.000</del>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>