{% load static %}
<footer class="pt-3 pb-7 pb-xl-3 bg-black text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="text-center text-md-left" current-verison="6.3.0">
                    © Active eCommerce CMS 2021
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline my-3 my-md-0 social colored text-center">
                    <li class="list-inline-item">
                        <a href="https://facebook.com/" target="_blank" class="facebook"><i
                                class="lab la-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" class="twitter"><i
                                class="lab la-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" class="instagram"><i
                                class="lab la-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://youtube.com/" target="_blank" class="youtube"><i
                                class="lab la-youtube"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://linkedin.com/" target="_blank" class="linkedin"><i
                                class="lab la-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <img src="public/uploads/all/NankP5emHOKcdCWqX6Bks1Qa63iDgoLA6WPGn7oe.png" height="30"
                                 class="mw-100 h-auto" style="max-height: 30px">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>