{% load static %}
<section class="bg-white border-top mt-auto">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <a class="text-reset border-left text-center p-4 d-block" href="terms.html">
                    <i class="la la-file-text la-3x text-primary mb-2"></i>
                    <h4 class="h6">Terms &amp; conditions</h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="text-reset border-left text-center p-4 d-block" href="return-policy.html">
                    <i class="la la-mail-reply la-3x text-primary mb-2"></i>
                    <h4 class="h6">Return Policy</h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="text-reset border-left text-center p-4 d-block" href="support-policy.html">
                    <i class="la la-support la-3x text-primary mb-2"></i>
                    <h4 class="h6">Support Policy</h4>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a class="text-reset border-left border-right text-center p-4 d-block" href="privacy-policy.html">
                    <i class="las la-exclamation-circle la-3x text-primary mb-2"></i>
                    <h4 class="h6">Privacy Policy</h4>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark py-5 text-light footer-widget">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4 text-center text-md-left">
                <div class="mt-4">
                    <a href="https://demo.activeitzone.com/ecommerce" class="d-block">
                        <img class="lazyload" src="public/assets/img/placeholder-rect.jpg"
                             data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/ikb1MZlSZBdn6Vn0o8JDFrWuVEeuGMBHV6igl9fc.png"
                             alt="Active eCommerce CMS" height="44">
                    </a>
                    <div class="my-3">
                        <span style="color: rgb(242, 243, 248); font-family: " Open Sans", sans-serif; background-color:
                        rgb(17, 23, 35);">Complete system for your eCommerce business</span>
                    </div>
                    <div class="d-inline-block d-md-block mb-4">
                        <form class="form-inline" method="POST"
                              action="https://demo.activeitzone.com/ecommerce/subscribers">
                            <input type="hidden" name="_token" value="60emtilZGzBPDGf5483EVzvKtebycelWLbym4p8H">
                            <div class="form-group mb-0">
                                <input type="email" class="form-control" placeholder="Your Email Address" name="email"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Subscribe
                            </button>
                        </form>
                    </div>
                    <div class="w-300px mw-100 mx-auto mx-md-0">
                        <a href="#" target="_blank" class="d-inline-block mr-3 ml-0">
                            <img src="{% static "public/assets/img/play.png" %}" class="mx-100 h-40px">
                        </a>
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="{% static "public/assets/img/app.png" %}" class="mx-100 h-40px">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ml-xl-auto col-md-4 mr-0">
                <div class="text-center text-md-left mt-4">
                    <h4 class="fs-13 text-uppercase fw-600 border-bottom border-gray-900 pb-2 mb-4">
                        Contact Info
                    </h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <span class="d-block opacity-30">Address:</span>
                            <span class="d-block opacity-70">Demo</span>
                        </li>
                        <li class="mb-2">
                            <span class="d-block opacity-30">Phone:</span>
                            <span class="d-block opacity-70">123456789</span>
                        </li>
                        <li class="mb-2">
                            <span class="d-block opacity-30">Email:</span>
                            <span class="d-block opacity-70">
                                        <a href="https://demo.activeitzone.com/cdn-cgi/l/email-protection#7317161e1c5d160b121e031f1633141e121a1f5d101c1e"
                                           class="text-reset"><span class="__cf_email__"
                                                                    data-cfemail="bbdfded6d495dec3dad6cbd7defbdcd6dad2d795d8d4d6">[email&#160;protected]</span></a>
                                    </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="text-center text-md-left mt-4">
                    <h4 class="fs-13 text-uppercase fw-600 border-bottom border-gray-900 pb-2 mb-4">
                        Quick Links
                    </h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="sellerpolicy.html" class="opacity-50 hov-opacity-100 text-reset">
                                Support Policy Page
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="returnpolicy.html" class="opacity-50 hov-opacity-100 text-reset">
                                Return Policy Page
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="aboutus.html" class="opacity-50 hov-opacity-100 text-reset">
                                About Us
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="privacypolicy.html" class="opacity-50 hov-opacity-100 text-reset">
                                Privacy Policy Page
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="sellerpolicy.html" class="opacity-50 hov-opacity-100 text-reset">
                                Seller Policy
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="terms.html" class="opacity-50 hov-opacity-100 text-reset">
                                Term Conditions Page
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-2">
                <div class="text-center text-md-left mt-4">
                    <h4 class="fs-13 text-uppercase fw-600 border-bottom border-gray-900 pb-2 mb-4">
                        My Account
                    </h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a class="opacity-50 hov-opacity-100 text-reset" href="users/login.html">
                                Login
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="opacity-50 hov-opacity-100 text-reset" href="users/login.html">
                                Order History
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="opacity-50 hov-opacity-100 text-reset" href="users/login.html">
                                My Wishlist
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="opacity-50 hov-opacity-100 text-reset" href="track-your-order.html">
                                Track Order
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="opacity-50 hov-opacity-100 text-light" href="affiliate.html">Be an affiliate
                                partner</a>
                        </li>
                    </ul>
                </div>
                <div class="text-center text-md-left mt-4">
                    <h4 class="fs-13 text-uppercase fw-600 border-bottom border-gray-900 pb-2 mb-4">
                        Be a Seller
                    </h4>
                    <a href="shops/create.html" class="btn btn-primary btn-sm shadow-md">
                        Apply Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>