<div class="top-navbar bg-white border-bottom border-soft-secondary z-1035 h-35px h-sm-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col">
                <ul class="list-inline d-flex justify-content-between justify-content-lg-start mb-0">
                    <li class="list-inline-item dropdown mr-3" id="lang-change">
                        <a href="javascript:void(0)" class="dropdown-toggle text-reset py-2" data-toggle="dropdown"
                           data-display="static">
                            <img src="public/assets/img/placeholder.jpg"
                                 data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png"
                                 class="mr-2 lazyload" alt="English" height="11">
                            <span class="opacity-60">English</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <a href="javascript:void(0)" data-flag="en" class="dropdown-item ">
                                    <img src="public/assets/img/placeholder.jpg"
                                         data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png"
                                         class="mr-1 lazyload" alt="English" height="11">
                                    <span class="language">English</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="bd" class="dropdown-item ">
                                    <img src="public/assets/img/placeholder.jpg"
                                         data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/bd.png"
                                         class="mr-1 lazyload" alt="Bangla" height="11">
                                    <span class="language">Bangla</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="sa" class="dropdown-item ">
                                    <img src="public/assets/img/placeholder.jpg"
                                         data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/sa.png"
                                         class="mr-1 lazyload" alt="Arabic" height="11">
                                    <span class="language">Arabic</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-inline-item dropdown ml-auto ml-lg-0 mr-0" id="currency-change">
                        <a href="javascript:void(0)" class="dropdown-toggle text-reset py-2 opacity-60"
                           data-toggle="dropdown" data-display="static">
                            U.S. Dollar $
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                            <li>
                                <a class="dropdown-item  active " href="javascript:void(0)" data-currency="USD">U.S.
                                    Dollar ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="AUD">Australian
                                    Dollar ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="BRL">Brazilian Real
                                    (R$)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="CAD">Canadian Dollar
                                    ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="CZK">Czech Koruna
                                    (Kč)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="DKK">Danish Krone
                                    (kr)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="EUR">Euro (€)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="HKD">Hong Kong Dollar
                                    ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="HUF">Hungarian Forint
                                    (Ft)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="ILS">Israeli New
                                    Sheqel ()</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="JPY">Japanese Yen
                                    (¥)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="MYR">Malaysian
                                    Ringgit (RM)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="MXN">Mexican Peso
                                    ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="NOK">Norwegian Krone
                                    (kr)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="NZD">New Zealand
                                    Dollar ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="PHP">Philippine Peso
                                    (₱)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="PLN">Polish Zloty
                                    (zł)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="GBP">Pound Sterling
                                    ()</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="RUB">Russian Ruble
                                    (рб)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="SGD">Singapore Dollar
                                    ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="SEK">Swedish Krona
                                    (kr)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="CHF">Swiss Franc
                                    (CHF)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="THB">Thai Baht
                                    (฿)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="BDT">Taka (৳)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="Rupee">Indian Rupee
                                    (Rs)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-5 text-right d-none d-lg-block">
                <ul class="list-inline mb-0 h-100 d-flex justify-content-end align-items-center">
                    <li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
                        <a href="tel:+01 112 352 566" class="text-reset d-inline-block opacity-60 py-2">
                            <i class="la la-phone"></i>
                            <span>Help line</span>
                            <span>+01 112 352 566</span>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
                        <a href="users/login.html" class="text-reset d-inline-block opacity-60 py-2">Login</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="users/registration.html"
                           class="text-reset d-inline-block opacity-60 py-2">Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>