{% load static %}
<header class=" sticky-top  z-1020 bg-white border-bottom shadow-sm">
    <div class="position-relative logo-bar-area z-1">
        <div class="container">
            <div class="d-flex align-items-center">

                <div class="col-auto col-xl-3 pl-0 pr-3 d-flex align-items-center">
                    <a class="d-block py-20px mr-3 ml-0" href="https://demo.activeitzone.com/ecommerce">
                        <img src="{% static "public/uploads/all/ikb1MZlSZBdn6Vn0o8JDFrWuVEeuGMBHV6igl9fc.png" %}"
                             alt="Active eCommerce CMS" class="mw-100 h-30px h-md-40px" height="40">
                    </a>

                    <div class="d-none d-xl-block align-self-stretch category-menu-icon-box ml-auto mr-0">
                        <div class="h-100 d-flex align-items-center" id="category-menu-icon">
                            <div class="dropdown-toggle navbar-light bg-light h-40px w-50px pl-2 rounded border c-pointer">
                                <span class="navbar-toggler-icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-lg-none ml-auto mr-0">
                    <a class="p-2 d-block text-reset" href="javascript:void(0);" data-toggle="class-toggle"
                       data-target=".front-header-search">
                        <i class="las la-search la-flip-horizontal la-2x"></i>
                    </a>
                </div>

                <div class="flex-grow-1 front-header-search d-flex align-items-center bg-white">
                    <div class="position-relative flex-grow-1">
                        <form action="https://demo.activeitzone.com/ecommerce/search" method="GET"
                              class="stop-propagation">
                            <div class="d-flex position-relative align-items-center">
                                <div class="d-lg-none" data-toggle="class-toggle"
                                     data-target=".front-header-search">
                                    <button class="btn px-2" type="button"><i
                                            class="la la-2x la-long-arrow-left"></i></button>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="border-0 border-lg form-control" id="search"
                                           name="keyword" placeholder="I am shopping for..." autocomplete="off">
                                    <div class="input-group-append d-none d-lg-block">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="la la-search la-flip-horizontal fs-18"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="typed-search-box stop-propagation document-click-d-none d-none bg-white rounded shadow-lg position-absolute left-0 top-100 w-100"
                             style="min-height: 200px">
                            <div class="search-preloader absolute-top-center">
                                <div class="dot-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="search-nothing d-none p-3 text-center fs-16">

                            </div>
                            <div id="search-content" class="text-left">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-none d-lg-none ml-3 mr-0">
                    <div class="nav-search-box">
                        <a href="#" class="nav-box-link">
                            <i class="la la-search la-flip-horizontal d-inline-block nav-box-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="d-none d-lg-block ml-3 mr-0">
                    <div class="" id="compare">
                        <a href="../compare.html" class="d-flex align-items-center text-reset">
                            <i class="la la-refresh la-2x opacity-80"></i>
                            <span class="flex-grow-1 ml-1">
                    <span class="badge badge-primary badge-inline badge-pill">0</span>
                <span class="nav-box-text d-none d-xl-block opacity-70">Compare</span>
    </span>
                        </a></div>
                </div>

                <div class="d-none d-lg-block ml-3 mr-0">
                    <div class="" id="wishlist">
                        <a href="../users/login.html" class="d-flex align-items-center text-reset">
                            <i class="la la-heart-o la-2x opacity-80"></i>
                            <span class="flex-grow-1 ml-1">
                    <span class="badge badge-primary badge-inline badge-pill">0</span>
                <span class="nav-box-text d-none d-xl-block opacity-70">Wishlist</span>
    </span>
                        </a>
                    </div>
                </div>

                <div class="d-none d-lg-block  align-self-stretch ml-3 mr-0" data-hover="dropdown">
                    <div class="nav-cart-box dropdown h-100" id="cart_items">
                        <a href="javascript:void(0)" class="d-flex align-items-center text-reset h-100"
                           data-toggle="dropdown"
                           data-display="static">
                            <i class="la la-shopping-cart la-2x opacity-80"></i>
                            <span class="flex-grow-1 ml-1">
                    <span class="badge badge-primary badge-inline badge-pill cart-count">0</span>
                <span class="nav-box-text d-none d-xl-block opacity-70">Cart</span>
    </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg p-0 stop-propagation">

                            <div class="text-center p-3">
                                <i class="las la-frown la-3x opacity-60 mb-3"></i>
                                <h3 class="h6 fw-700">Your Cart is empty</h3>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="hover-category-menu position-absolute w-100 top-100 left-0 right-0 d-none z-3"
             id="hover-category-menu">
            <div class="container">
                <div class="row gutters-10 position-relative">
                    <div class="col-lg-3 position-static">
                        <div class="aiz-category-menu bg-white rounded  shadow-lg" id="category-sidebar">
                            <div class="p-3 bg-soft-primary d-none d-lg-block rounded-top all-category position-relative text-left">
                                <span class="fw-600 fs-16 mr-3">Categories</span>
                                <a href="../categories.html" class="text-reset">
                                    <span class="d-none d-lg-inline-block">See All ></span>
                                </a>
                            </div>
                            <ul class="list-unstyled categories no-scrollbar py-2 mb-0 text-left">
                                <li class="category-nav-element" data-id="1">
                                    <a href="women-clothing-fashion.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/46v0RI8PXlQa4Yy0IftaGaK9rZUQdLOAFkpnjRXT.jpg"
                                                width="16"
                                                alt="Women Clothing &amp; Fashion"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Women Clothing &amp; Fashion</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="2">
                                    <a href="men-clothing-fashion.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/LHUk7AM6okO07NvMOkVB35JbQBCLGLjfbRBuUNHc.jpg"
                                                width="16"
                                                alt="Men Clothing &amp; Fashion"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Men Clothing &amp; Fashion</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="3">
                                    <a href="computer-accessories.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/kTwoR2hUnTf1y6kAOmt9FUidF6Qo8IK0RkvGVMbi.jpg"
                                                width="16"
                                                alt="Computer &amp; Accessories"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Computer &amp; Accessories</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="4">
                                    <a href="automobile-motorcycle.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/vafdWTltz6NGVOA2BOaSC3Y7PPFmxmSHX6KBhn4Z.jpg"
                                                width="16"
                                                alt="Automobile &amp; Motorcycle"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Automobile &amp; Motorcycle</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="5">
                                    <a href="kids-toy.html" class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/7Hpz9FWvKRNENKEXd13gqNPlFxz8LFJgCTFzlZbR.jpg"
                                                width="16"
                                                alt="Kids &amp; toy"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Kids &amp; toy</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="6">
                                    <a href="sports-outdoor.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/jNdturV05yXj1UsPHurYFoJs410G39D5C2bnPGor.jpg"
                                                width="16"
                                                alt="Sports &amp; outdoor"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Sports &amp; outdoor</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="7">
                                    <a href="jewelry-watches.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/R6AnVQNPd89NvPZelfi4F8rfkbFIiu8XteN74BFz.jpg"
                                                width="16"
                                                alt="Jewelry &amp; Watches"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Jewelry &amp; Watches</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="8">
                                    <a href="cellphones-tabs.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/JjUx7LIwj97wFpsgffYGwYxtdEiQLVGPtBWYE4wq.jpg"
                                                width="16"
                                                alt="Cellphones &amp; Tabs"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Cellphones &amp; Tabs</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="9">
                                    <a href="beauty-health-hair.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/KHQpABDau3b7oMyDFNSJYSMgprsQ1Kq5uij9fw3U.jpg"
                                                width="16"
                                                alt="Beauty, Health &amp; Hair"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Beauty, Health &amp; Hair</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="10">
                                    <a href="home-improvement-tools.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/9hMfQOGGQrpmFO1KEbTJ9SijUxM8p8TEsm6o4FVp.jpg"
                                                width="16"
                                                alt="Home Improvement &amp; Tools"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Home Improvement &amp; Tools</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="category-nav-element" data-id="11">
                                    <a href="home-decoration-appliance.html"
                                       class="text-truncate text-reset py-2 px-3 d-block">
                                        <img
                                                class="cat-image lazyload mr-2 opacity-60"
                                                src="../public/assets/img/placeholder.jpg"
                                                data-src="../public/uploads/all/Es0gLpejDOBTdBz4CN1BlT12tFTJDjNDXhtEoVEe.jpg"
                                                width="16"
                                                alt="Home decoration &amp; Appliance"
                                                onerror="this.onerror=null;this.src='../public/assets/img/placeholder.jpg';"
                                        >
                                        <span class="cat-name">Home decoration &amp; Appliance</span>
                                    </a>
                                    <div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4">
                                        <div class="c-preloader text-center absolute-center">
                                            <i class="las la-spinner la-spin la-3x opacity-70"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white border-top border-gray-200 py-1">
        <div class="container">
            <ul class="list-inline mb-0 pl-0 mobile-hor-swipe text-center">
                <li class="list-inline-item mr-0">
                    <a href="../index.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        Home
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a href="../flash-deals.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        Flash Sale
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a href="../blog.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        Blogs
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a href="../brands.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        All Brands
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a href="../categories.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        All Categories
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a href="../sellers.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        All Sellers
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a href="../coupons.html"
                       class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset">
                        Coupons
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>